/*
 *  This Slideshow demonstrates... TODO
 *	fullsize images - background-size:cover
 *  (iPad, Chrome, Safari, Firefox and IE7+)
 *
 *	Ein dunkler Hintergrund verhindert unschönes Aufblitzen beim Überblenden
 */


#slideshow {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: @boilerplate-black;
}

#teaser{
	counter-reset: slider;
	li{
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-color: @boilerplate-black;
		#boilerplate-transition > .fade;

		&.active {
			z-index:1;
			opacity: 1;
		}

		&:after {
			counter-increment: slider;
			content:counter(slider) ".";
			padding: 0 4px 0;
			position: absolute;
			bottom: 20px;
			right: 40px;
			color: #fff;
			font-size: 80px;
		}
	}
}

#pager {
	position: absolute;
	width: 100%;
	top: 30%;

	@pagersize: 80px;

	li {
		position: absolute;
		width: @pagersize;
		height: @pagersize;
		overflow: hidden;
		z-index: 2;
		color:darken(@boilerplate-white,60%);
		font-size: 40px;
		line-height: @pagersize;
		text-align: center;
		text-indent: 101%;
		cursor: pointer;
		background:darken(@boilerplate-white,2%);
		border: 4px solid darken(@boilerplate-white,60%);
		opacity:0.8;
		#boilerplate-transition > .short;
		#boilerplate-border-radius > .generic(@pagersize);
		
		&:hover {
			opacity:1;
			.no-opacity & {
				background:@boilerplate-white;
				color: darken(@boilerplate-white,70%);
			}
		}

		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-indent: 0;
			text-align: center;
			font-weight: bold;
		}
		&.prev {
			left: 40px;
			&:before {
				content: "<";
			}
		}
		&.next {
			right: 40px;
			&:after {
				content: ">";
			}
		}
	}
}
