body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
dl,
dt,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 *  Bei dieser Slideshow geht es um großformatige Teaser mit Hintergrundbildern, die sich 
 *  an die Größe des Browserfensters anpassen. Verantwortlich dafür ist im Wesentlichen 
 *  die CSS-Eigenschaft background-size (ab IE9).
 * 
 *  Die Slideshow nutzt eine Transition des opacity-Wertes für den Überblend-Effekt beim Bildwechsel (ab IE10). 
 * 
 *  Wenn nicht mit der Slideshow interagiert wird, beginnt ein automatischer Durchlauf. 
 * 
 *  (getestet auf iPad, Chrome, Safari, Firefox and IE7+)
 *
 * Tipp:
 *	- Ein dunkler Hintergrund verhindert unschönes helles Aufblitzen beim Überblenden.
 *  - Das umgebende #slideshow Div ist eigentlich nur nötig, wenn man das automatische
 *    Durchsliden nutzen will (für das Binden von Mouseevents)
 */
#slideshow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
}
#teaser {
  counter-reset: slider;
}
#teaser li {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: #000000 50% 50% no-repeat;
  background-size: cover;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#teaser li.active {
  z-index: 1;
  opacity: 1;
}
#teaser li:after {
  counter-increment: slider;
  content: counter(slider) ".";
  padding: 0 4px 0;
  position: absolute;
  bottom: 20px;
  right: 40px;
  color: #fff;
  font-size: 80px;
}
#pager {
  position: absolute;
  width: 100%;
  top: 30%;
}
#pager li {
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
  z-index: 2;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  text-indent: 101%;
  cursor: pointer;
  color: #666666;
  background: #fafafa;
  border: 4px solid #666666;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  border-radius: 80px;
}
#pager li:hover {
  opacity: 1;
}
.no-opacity #pager li:hover {
  background: #ffffff;
  color: #4d4d4d;
}
#pager li:before,
#pager li:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: 0;
  text-align: center;
  font-weight: bold;
}
#pager li.prev {
  left: 40px;
}
#pager li.prev:before {
  content: "<";
}
#pager li.next {
  right: 40px;
}
#pager li.next:after {
  content: ">";
}
